body{
    background: #ccced0;
    
    font-family: arial;
}
a{
    text-decoration: none;
    color: #28a745;
    padding: 10px;
}
.del{
    color: red;
}
.aa{
    color: red;
}
a:hover{
    text-decoration: none;
    color: #000000;
}
#box{
    width: 600px;
    background-color: rgba(140, 25, 25, 0.6);
    padding: 70px;
    border-radius: 20px;
    position: absolute;
    margin: 0 auto;
    top: 0; 
    bottom: 0;
    height: 300px;
}
#pf{
    text-align: left;
    font-size: 24px;
    color: #ffff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.tab{
    width: 60vw;
    margin: 0 auto;
    margin-top: 20px;
}
.top{
    background-color: black;
    padding: 3px;
}