body{
    background: linear-gradient(to right, #1a4e63, #25525525);
    font-family: arial;
    padding:20px;
}
#box{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 70px;
    border-radius: 10px;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    height: 600px;
}
h1{
    font-size: 32px;
    color: #fff;
    text-align: center;
}
input[type=text], input[type=password], input[type=number] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
border-radius: 5px;

}
label{
    color: #fff; 
}
button, a {
text-decoration: none;
margin-top: 15px;
background-color: rgba(0, 0, 0, 0);
color: white;
border: 3px solid dodgerblue;
padding: 10px;
border-radius: 5px;
cursor: pointer;
width: 100%;
font-size: 22px;
}
button:hover {
opacity: 0.8;
background-color: dodgerblue;
}